/*---------- main colum -------------*/
.article {
	width: 465px;
	color: #333333;
}
.narrow {
	width: 328px;
}
.fullwidth {
	width: 793px;
}


.narrow .subsection {
	margin-left: 10px;
	border-top: 3px solid #ACAB8D;
	padding: 10px;
    background: #fff;
}
.fullwidth .subsection, .article .subsection {
    border-top: 3px solid #acab8d;
    background: none;
}
table.fulltable {
	width: 99%;
	font-size: 11px;
}

table.fulltable tr th {
	text-align: left;
	padding: 3px;
	border-top: 1px solid #ACAB8D;
}

table.fulltable tr td {
	vertical-align: top;
	padding: 3px;
	border-top: 1px solid #ACAB8D;
}

table.fulltable tr.bg td, table.fulltable tr.bg th {
	background: #E0EBF1;
}


.article strong {
	font-weight: bold;
}

.article-title h2 {
	font-weight: normal;
	font-size: 22px;
	font-weight: normal;
}

ul.action-links {
	position: relative;
	float: right;
	display: block;
	width: 57px; height: 29px;
	background: url(images/bg-article-tools.gif);
}
ul.action-links li.share-article a, ul.action-links li.print-article a {
	display: block;
	position: absolute;
	top: 0;
	width: 28px;
	height: 29px;
	text-indent: -9999px;
}
ul.action-links li.print-article a {
	left: 0;
}
ul.action-links li.share-article a {
	right: 0;
}

ul.action-links li {
  display:inline;
}

.article-primary-info {
  color:#000;
  font-size:12px;
  margin: 10px 0;
}
.article-primary-info dl dt {
	font-weight: bold;
	display: block;
	width: 20%;
	float: left;
}

/*.article-standfirst {*/
/*  font-weight: bold;*/
/*  background-color: #e5eef4;*/
/*  padding: 8px;*/
/*}*/

#article-data dt {
    position: relative;
    width: auto;
    float: left;
}
#article-data dd.list {
	font-size: 12px;
    color: #005b9d;
    
    position: relative;
    width: auto;
    float: left;
    margin: 0 5px 0 0;


}
#article-data dt.title, #article-data dt.abstract, #article-data dt.article-text {
    display: none;
}
#article-data dd.abstract, #article-data dd.article-text {
    clear: both;
}

/*
#article-data dd h2 {
    
    font-size: 22px;
    color: #005b9d;
    margin: 20px 0;
}
#article-data dt {
    
    font-size: 12px;
    font-weight: bold;
    margin: 4px 4px 0 0;
    color: #000;
}
#article-data dd a {
    
    font-size: 12px;
    color: #005b9d;
}
#article-data dd.abstract {
    clear: both;
    
    font-size: 14px;
    font-style: italic;
    margin: 40px 0 20px 0;
}
dd.article-text {
    
    font-size: 13px;
}
dd.article-text h1 {
    font-size: 16px;
    font-weight: bold;
    color: #005b9d;
    margin: 20px 0 5px 0;
}
#article-data dd.article-text h2 {
    
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 5px 0;
}
dd.article-text h3 {
    font-size: 13px;
    font-weight: bold;
    color: #005b9d;
    margin: 20px 0 5px 0;
}
dd.article-text ol li {
    list-style-type: decimal;
    list-style-position: inside;
}
dd.article-text ul li {
    list-style-type: disc;
    list-style-position: inside;
}
dd.article-text a {
    font-size: 13px;
}
dd.article-text blockquote {
    margin: 0 20px;
}
.article-footer ul {
    width: 100%;
    padding: 0 120px;
    overflow: hidden;
}
.article-footer li {
    position: relative;
    width: auto;
    float: left;
}
.sharing-links {
    width: 100%;
    clear: both;
    background: #f6f6f6;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    overflow: hidden;
    padding: 1px 0 0 0;
    margin: 20px 0 0;
}
.sharing-links li {
    position: relative;
    width: 16px;
    float: left;
    margin: 0 16px 0 0;
}
.sharing-links li.first {
    margin: 0 16px 0 55px;
}
*/

.article-body { font-size: 12px; line-height: 130%; color: #757374; }
.article-body h2 { font-size: 18px; margin: 8px 0; }
.article-body h3 { font-size: 16px; margin: 8px 0; }
.article-body h4,.article-body h5,.article-body h6 { font-size: 14px; margin: 8px 0; }


.article-body p { font-size: 12px; margin-bottom: 11px; line-height: 130%; }
.article-body a:hover { text-decoration: underline; }
.article-body em { font-style: italic; }
.article-body strong { font-weight: bold; }
.article-body dl, .article-body ul, .article-body ol { margin-bottom: 8px; }
.article-body ul, .article-body ol {
	margin-left: 35px;
}
.article-body ul ul, .article-body ol ol {
	margin-bottom: 0;
}
.article-body ul {
	list-style-type: disc;
}
.article-body ol {
	list-style-type: decimal;
}
.article-body li {
	margin-bottom: 2px;
  color:#454545;
}
.article-body dl { color: #6C6C6C; }
.article-body dt { font-weight: bold; margin-bottom: 6px; }
.article-body dd { margin-bottom: 8px; }
.article-body hr {	height: 1px; border: none; width: 100%; background: #E7EDA3; margin: 10px 0; }
.article-body img.left { float: left; margin-right: 5px; }
.article-body img.right { float: right; margin-left: 5px; }
.article-body table.bordered {
	margin-bottom: 8px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.article-body table.bordered th, .article-body table.bordered td {
	padding: 4px 4px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.article-body table.bordered th {
	background: #eee;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.article-profile {
	border-bottom: 3px solid #ACAB8D;
	border-top: 1px solid #ACAB8D;
	padding: 0;
	float: left;
	margin-top: 20px;
}

.article-profile p {
	margin-top: 5px;
}

.article-profile img {
	border-right: 1px solid #ACAB8D;
	margin-right: 5px;
	float: left;
}

article-comments {
	clear: both;
}

.comments-header{
	clear: both;	
	height: 25px;
}
a.comment-view, a.comment-add {
	display: block;
	width: 40%;
	padding: 6px;
}
a.comment-view {
	float: left;
	color: #656453;
}
a.comment-add {
	float: right;
	text-align: right;
}
.article-comments {
	float: left;
	padding-bottom: 20px;
}
.comment {
	border-top: 1px solid #ACAB8D;	
	clear: both;
	/*float: left;*/
}
.comment-body {
	padding: 5px;
	width: 70%;
	float: left;
}
.comment-tools {
	padding: 5px;
	width: 18%;
	float: right;
	text-align: right;
	
}


span.category-cluster {
  line-height:140%;
}
.article-standfirst {
	margin:20px 0 20px 0;
	font-style:italic;
	font-size:14px;
}
.article-speedread {
  font-weight: bold;
  background-color: #e5eef4;
  padding: 8px;
  border:1px solid #A7CFED;
}



div.sharing-service-links {
  margin:20px 0 0 0;
  
}
div.sharing-service-links ul.links li {
  padding:0 25px 0 0;
}





table.board-members-table {
    width: 395px;

}
table.board-members-table td {
    padding:0 10px 5px 0;
}



/* taxonomy listing pages */

div.tax-term-listing {

  color:#000;
  margin:0 0 12px 0;
}
div.tax-term-listing h3 {
  font-size:14px;
}
div.tax-term-listing a {
  color:#375696;
}
div.tax-term-listing span.date-format {
  font-style:italic;
}

/* end taxonomy listing pages*/




/* pager */
.pager {

  margin:0 0 20px 0;
}
/* end pager */

/* more from this author */
/*div.more-from-author {*/
/*  margin:20px 0 0 0;*/
/*}*/
/* end more from this author */

/* bio blurb at the bottom of the article */
.bio-blurb {
  width:100%;
  height:90px;
  background:#F6F6F6;
  color:#000;
  padding:0;
  border-top:1px solid #999999;
  border-bottom:1px solid #999999;
  margin:5px 0 10px 0;
}
.bio-blurb-section {
  float:left;
}
.bio-blurb-blurb {
  padding:2px;
}
/* end bio blurb at the bottom of the article */


/* related articles */
div.related-articles {
  margin:20px 0 20px 0;
  line-height:140%;
  padding:8px;
  background:#E8E7DF;
  border:1px solid #ACAB8D;
}
.related-articles .title {
	/*font-size:14px;*/
	font-weight:bold;
}
/* end related articles */



/* new article import from xml */
.article-body {
  margin:20px 0 30px 0;
}
.xml-title {
  margin:25px 0 0 0;
  font-size:14px;
}
.xml-image-link {
  font-weight:bold;
}



div.xml-prelim-text {
  margin:0 0 20px 0;
}
div.xml_paragraph {
  margin:5px 0 0 0;
}
div.xml-text {
  line-height:140%;
  margin:0 0 0 0;
}

div.article-body p {
  margin:20px 0 20px 0;
  line-height: 140%;
  color:#454545;
}
/* end new article import from xml */




.main-col h2 {
  font-size:22px;
}


.main-col .subsection h2 {
  font-size:16px;
}

.article-title h2 {
  font-size:22px !important ;
}