/* video embed form on articles */
.video-embed-form-wrapper {
  background:#f0f0f0;
  padding:5px;
  border:1px solid #c1c1c1;
}
.video-embed-form-element-name {
  margin:2px 0 5px 0;
}
.video-embed-form-element-email {
  margin:5px 0 2px 0;
}
.video-embed-form-element {
  margin:2px 0 2px 0;
}
.video-embed-privacy-blurb-1 {
  margin:10px 0 5px 0;
}
.video-embed-privacy-blurb-2 {
  margin:5px 0 10px 0;
}
.video-embed-form-element-submit {
  margin:5px 0 0 0;
}
.video-embed-form-element-agree {
  margin:15px 0 0 0;
}
.video-embed-privacy-padlock {
  background:url(images/padlock.png) no-repeat;
  width:42px;
  height:53px;
  margin:15px 0 -5px 0;
}
/* end video embed form */

