p { font-family:Arial; font-size:11px; color:#FFFFFF; }
a { color:#33B3D1; }
a:hover { text-decoration:underline; }

.sml { font-size:10px; }
.timer { font-size:10px; color:#BBBBBB; }
.iconButton { font-size:11px; color:#AAAAAA; }
.toolTip { color:#555555; }
.loader { color:#AAAAAA; }

.txtnum { color:#33B3D1; }
.grey { color:#888888; }
.playStart { color:#888888; font-size:17px; font-weight:bold; }
.popupTitle { color:#33B3D1; font-size:12px; font-weight:bold; leading:10px; }
.popupNote { color:#444444; font-size:11px; margin-left:1px; }