div#cacherouter-stats {
  margin-top: 20px;
}
.cr-primary-1 {
  float: left;
  margin-right: 10px;
  background-color: #3399cc;
  width: 20px;
  height: 20px;
}

.cr-primary-2 {
  float: left;
  margin-right: 10px;
  background-color: #cbe2f1;
  width: 20px;
  height: 20px;
}

.cr-key {
  clear: both;
  margin-bottom: 10px;
  padding-left: 20px;
  height: 20px;
}
table#cacherouter-stats tr {
  background: none;
}
table#cacherouter-stats tr td {
  border: 1px solid #D3E7F4;
  padding: 5px;
  
}

h3.cr-hdr {
  display: inline;
}

form#cr-cache-switch {
  display: inline;
}