/* Drupal 6 Framework - Created by Andre Griffin
------------------------------------------------
[Table of contents]

 0.Reset
 1.Global
 2.Layout
 3.Main
 4.Sidebars
 5.Header
 6.Navigation
 7.Nodes
 8.Comments
 9.Blocks
10.Footer
11.CSS Support

[px to em sizing - 81.25%/13px body font-size]
       font-size / line-height / margin-top
------------------------------------------------
40px = 3.0769em  / 1           / 0.5em
36px = 2.7692em  / 1.1111      / 0.5556em
30px = 2.3077em  / 1.3333      / 0.6667em
26px = 2em       / 1.5385      / 0.7692em
24px = 1.8462em  / 1.6667      / 0.8333em
20px = 1.5385em  / 1           / 1em
18px = 1.3846e,  / 1.1111      / 1.1111em
17px = 1.3077em  / 1.1765      / 1.1765em
16px = 1.2308em  / 1.25        / 1.25em
15px = 1.1538em  / 1.3333      / 1.3333em
14px = 1.0769em  / 1.4286      / 1.4286em
13px = 1em       / 1.5385      / 1.5385em
12px = 0.9231em  / 1.6667      / 1.6667em
11px = 0.8462em  / 1.8182      / 1.8182em
10px = 0.7692em  / 2           / 2em

Equation for font sizing: 
-Desired px ÷ Default (or parent) px = em size
------------------------------------------------*/

/**
 * 0.RESET 
 */

@import "reset.css";

/**
 * 1.GLOBAL
 */

body {
  background: #fff;
  color: #000;
  font-size:110%;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  line-height: 1.5385;
  margin: 0px;
  padding: 0px;
}
html{font-size:62.5%}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

h1, .h1 {
  font-size: 2em;
  line-height: 1.5385;
  margin-top: 0.7692em;
}

h2, .h2 {
  font-size: 1.5385em;
  line-height: 2;
  margin-top: 1em;
}

h3, .h3 {
  font-size: 1.2308em;
  line-height: 1.25;
  margin-top: 1.25em;
}

h4, h5, h6, .h4, .h5, .h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5385;
  margin-top: 1.5385em;
}

p {  
  line-height: 1.5385;
  margin: 0 0 1.5385em 0;
}

p a:link {
  text-decoration: underline;
}

a:link, a:visited {
  color: #566B87;
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: 1px dotted;
}

a:hover, a:active, li a.active {
  color: #566B87;
  outline: none;
  text-decoration: underline;
}

img {
  display: block;
}

/* apply common styling after reset.css */

li ul, li ol {  margin: 0; }
ul, ol {  margin: 0 1.5385em 1.5385em 0;  padding-left: 1.5385em; }
ul {  list-style-type: disc; }
ol {  list-style-type: decimal; }
dl {  margin: 0 0 1.5385em 0; }
dl dt {  font-weight: bold; }
dd {  margin-left: 1.5385em; }
hr {  background: #666;  border: none;  clear: both;  float: none;  height: 1px;  margin: 0 0 1.4615em;  width: 100%; }
fieldset {  border: 1px solid #ccc;  margin: 0 0 1.4615em;  padding: 1.5385em; }
table {  margin-bottom: 1.5385em;  width: 100%; }
th, tr, td {  vertical-align: middle; }
.sticky-header th, .sticky-table th {  border-bottom: 3px solid #ccc;  padding-right: 1em;  text-align: left; }

/**
 * 2.LAYOUT
 */

#wrapper {
  margin: 0 auto;
  width: 976px;
  padding-top:6px;
}

/* add this class to div#wrapper in page.tpl to show grid */

.showgrid {
  background: url(../images/grid.png) repeat-y;
}

/**
 * 3.MAIN
 */

/* 1 column: global values*/

#main {
  display: inline;
  margin: 0;
}

/* 3 columns */

body.two-sidebars #main {
  float: left;
  	width:305px;
	overflow:hidden;
	margin:-5px 0 0 18px;
	display: inline;

}

/* 2 columns: sidebar-left */

body.sidebar-left #main {
  float: right;
  margin: 0;
  padding: 0;
  width: 700px;
}

/* 2 columns: sidebar-right */

body.sidebar-right #main {
  float: left;
  margin: 0;
  padding: 0;
  width: 700px;
}

/**
 * 4.SIDEBARS
 */

/* 3 columns: sidebar-left */

body.two-sidebars #sidebar-left {
  float: left;
  padding: 0;
  width: 456px;
}

/* 3 columns: sidebar-right */

body.two-sidebars #sidebar-right {
  float: right;
  margin: 0;
  padding: 0;
  width: 158px;
}

/* 2 columns: sidebar-left */

body.sidebar-right #sidebar-left {
  float: left;
  margin: 0;
  padding: 0;
  width: 220px;
}

/* 2 columns: sidebar-right */

body.sidebar-right #sidebar-right {
  float: right;
  margin: 0;
  padding: 0;
  width: 220px;
}

/**
 * 5.HEADER
 */

#header {
  margin: 0;
  border-style:solid solid none solid;
  border-width:1px;
  border-color:#CCCCCC;
  padding-bottom:4px;
  display:block;
  position:relative;
}

#header #logo {
  margin: 7px 0 6px 0;
  float:left;
  width:100%;
}

#header #site-name-slogan {
  margin: 0 0 0 4px;
  line-height:16px;
}

#header #site-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.7692em;
  font-weight: 700;
  line-height: 1.1111;
  margin: 0;
}

#header #site-name a:hover {
  text-decoration: none;
}

#header #site-slogan {
  margin: 0;
  display:block;
  color:#C00048;
  font-size:14px;
  font-weight:bold;
}

#search-theme-form {
  float: right;
 }

/* hides "Search this site:" label from search forms */

div#edit-search-theme-form-1-wrapper label, 
div#edit-search-block-form-1-wrapper label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * 6.NAVIGATION
 */

#navigation {
  clear: both;
  margin-bottom:22px;
  padding: 0;
  height:25px
}

#navigation ul.primary-links {
  margin: 0;
  padding: 0;
}

#navigation ul.primary-links li {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation ul.primary-links li a {
  display: block;
  padding: 0 2em 0 0;
}

#navigation ul.secondary-links {
  margin: 0;
  padding: 0;
}

#navigation ul.secondary-links li {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation ul.secondary-links li a {
  display: block;
  padding: 0 2em 0 0;
}

.breadcrumb {
  padding-bottom: 0;
}

#skip-link {
  position: absolute;
}

/* menus and item lists */

.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
list-style-type:none;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
}

/* admin tabs */

.tabs-wrapper {
  border-bottom: 1px solid #333;
  margin: 0 0 1.4615em;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/**
 * 7.NODES
 */

.node {
  margin-bottom: 1.5385em;
}

/* tags */

.terms {
  margin: 0 0 1.5385em;
}

.terms span {
  font-weight: bold;
}

/* profile */

.profile {
  margin: 1.5385em 0;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

/**
 * 8.COMMENTS
 */

#comments {
  clear: both;
  margin-top: 1.5385em;
}

.comment {
  margin-bottom: 1.5385em;
}

.comment .new {
  color: red;
  text-transform: capitalize;
  margin-left: 1em;
}

/**
 * 9.BLOCKS
 */

.block {
  margin-bottom: 1.5385em;
  position: relative;
}

/* login block */
#user-login-form {
  padding: 0;
  text-align: left;
}

#user-login-form .form-item {
  margin: 1em 0;
}

#user-login-form .item-list ul li {
  background: none;
  margin: 1em 0;
  padding: 0;
}

/* block configuration links */

section.block div.edit {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  display: none;
  font-size: 9px;
  margin: 0;
  overflow: hidden;
  padding: 2px 0 2px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
}

section.block:hover div.edit {
  display:block;
}

section.block div.edit a {
  color: #999;
  margin-right: 10px;
}

section.block div.edit:hover a {
  color: #000;
}

/* views configuration links */

div.view {
  position: relative;
}

div.view div.views-hide-hover,
div.view:hover div.views-hide,
div.view div.views-admin-links,
div.view div.views-admin-links-hover,
div.view div.views-admin-links:hover {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  font-size: 9px;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  padding-left: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

div.view div.views-admin-links li a {
  color: #999;
}

/**
 * 10.FOOTER
 */

#footer {
  clear: both;
  padding: 11px 0 0 10px;
    background: url("../images/bg-footer.gif") repeat-x scroll 0 0 transparent;
    margin: 0 auto;
width:966px;
}
#footer .top-footer{overflow:hidden;text-align:center;padding-bottom:15px;color:#666666;}

#footer a.feed-icon {
  position: absolute;
  right: 0;
  top: 1.6667em;
}

/* support drupal */
#footer #block-system-0 {
  position: absolute;
  right: 25px;
  top: 1.6667em;
}
#footer ul {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	height:1%;
	float:left;
}
#footer ul li {
	list-style:none;
	float:left;
	background:url(../images/bg-sep-footer.gif) no-repeat 0 50%;
	margin:6px 0 0 -1px;
	padding:0 6px 0 7px;
	*padding:0px 6px 0px 7px;
	*margin:0px 0px 0px -1px;	
	*border:none;
}

/*
.menu ul {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	height:1%;
	float:left;
}
.menu ul li {
	list-style:none;
	float:left;
	background:url(../images/bg-sep-footer.gif) no-repeat 0 50%;
	margin:6px 0 0 -1px;
	padding:0 6px 0 7px;
	*padding:0px 6px 0px 7px;
	*margin:0px 0px 0px -1px;	
	*border:none;
}*/



.custom_cls{
	*width:95%;
	*margin:0px 0px 0px 0px ;
	*padding:0px;
}
#footer ul li a {
	color:#566B87;
}
/**
 * 11.CSS SUPPORT
 */

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user.
 */

.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */

* html .clearfix {
  height: 1%;
}

/* IE7 */

*:first-child + html .clearfix {
  min-height: 1%;
}

/** custom css **/
input, textarea, select {
    font-size: 100%;
    vertical-align: middle;
}
.clear{clear:both;height:0px;line-height:1px;font-size:0px;}
a#logo{width:335px;height:50px;}
.logo-container{width:450px;float:left;}
.head{padding:3px 10px 7px 10px;margin-bottom:4px;background: url(../images/bg-head.jpg) repeat-x scroll 0 100% transparent;overflow:hidden;width:954px;}
.search-box{width:468px;padding-top:8px;float:right;height:86px;}
.search-box .banner-top-img{margin-bottom:5px;width:468px;height:60px;}
.search-outer{border-top:1px solid #fff;}
#search a{color:#566B87;text-decoration:underline;*padding-right:5px;}
#search a:hover{text-decoration:none;}
#search .form-text{  border: 1px solid #7F9DB9;
    height: 17px;
    margin: 0;
    padding: 0 3px;
    width: 82px;}
#search .form-submit{width:60px;padding:0px;}
#search .form-item{margin:0 0 0 0 !important;}


/*navigation*/
.for-menu {
	width:974px;
	height:25px;
	background:url(../images/bg-navigation.jpg) no-repeat;
}
#content{border-left:solid 1px #CCCCCC !important;border-right:solid 1px #CCCCCC !important;padding:0 11px 45px 11px;background:#fff;}
.dynamic-persistent-menu-menu{height:25px;padding:0px !important;position:relative;}
.dynamic-persistent-menu-menu li{float:left;border-right:solid 1px #c0c7be;}
.dynamic-persistent-menu-menu li a{font-size:12px;font-weight:bold;line-height:25px;display:block;color:#fff !important;padding: 0 11px;text-decoration:none;}
.dynamic-persistent-menu-menu li a:hover{background:#c0c7be;color:#000 !important;text-decoration:none;}
.dynamic-persistent-menu-sub-menu{ background: url("../images/bg-drop.gif") repeat-x scroll 0 0 transparent;
    height: 21px;
    width: 963px;position:absolute;top:25px;}
.dynamic-persistent-menu-sub-menu a{color:#000;text-decoration:none;padding:0 20px;}
.dynamic-persistent-menu-sub-menu a:hover{text-decoration:underline;}
#sidebar-left .heading-outer{	background:url(../images/bg-for-name.jpg) repeat-y;
	border-bottom:1px solid #ccc;
	padding:0 0 0 4px;height:30px;}
#sidebar-left .heading-outer h2{margin:0;
	font:245% Georgia, "Times New Roman", Times, serif;
	color:#c00048;
	background:url(../images/bg-sqeare.jpg) no-repeat 0 50%;
	padding:0 0 0 25px;display:block;_border-top:solid 1px #fff;}


.block-middle{position:relative;}
.block-middle .heading-outer{_background:url(../images/bg-second-box-h3.jpg) no-repeat 0 6px !important;background:url(../images/bg-second-box-h3.jpg) no-repeat 1px 6px !important;}
.block-middle h2{	margin:0;
	font:163% Georgia, "Times New Roman", Times, serif;
	color:#c00048;
	padding:2px 0 0 58px;
	border:1px solid #fff;display:block;
}
.heading-outer h2 a {
  color:#c00048;
  text-decoration: none;
}
.heading-outer h2 a:hover {
  color:#c00048;
  text-decoration: underline;
}
.left-col{
	float:left;
	background:url(../images/bg-primary.gif) repeat-x;
	width:783px;
	padding:16px 0 0;
}
.nav-right-link{height:1px;position:relative;}
.nav-right-link div{position:absolute;bottom:-25px;_bottom:-26px;right:10px;z-index:9999;}
.nav-right-link a{font-weight:bold;color:#fff !important;text-decoration:none;padding:2px 10px 2px 10px;margin:0px;font-size:12px;float:left;display:block;height:21px;}
.nav-right-link a:hover{background:#c0c7be;color:#000 !important;text-decoration:none;}

.block-menu_block ul {
	margin:0;
	padding:0 0 0 9px;
	list-style:none;
	overflow:hidden;
	height:1%;
	float:left;
}
.block-menu_block ul li {
	list-style:none;
	float:left;
	background:url(../images/bg-sep-footer.gif) no-repeat 100% 50%;
	margin:6px 0 0 -1px;
	padding:0 6px 0 7px;
	*padding:0px 6px 0px 7px;
	*margin:0px 0px 0px -1px;	
	*border:none;
}
.block-menu_block h2{padding-left:15px;}
.top_date{float:left;}
.top_breadcrmb{float:left;padding-left:10px;}

/* Breadcrumb */
.bread {
	padding:0 16px;
	list-style:none;
	overflow:hidden;
	height:1%;
	margin:0 0 0 -2px;
	font-weight:bold;
	color:#c00048;
	font-size:90%;

}
.bread li {
	float:left;
	font-size:90%;
	font-weight:bold;
	color:#c00048;
	background:url(../images/bg-sep-bread.gif) repeat-y;
	margin:0 0 0 -1px;
	padding:0 7px;
}
.bread li a {
	color:#566B87;
	text-decoration:underline;
}
.bread li a:hover {
	text-decoration:none;
}
#content .content{	overflow:hidden;
	height:1%;
	padding:0px 0 0 5px;
}
.item-list ul{margin:0px;padding: 10px 10px 10px 5px;}
.item-list ul li{list-style:none;}
.item-list ul li a{color:#566B87;font-weight:bold;list-style:none;text-decoration:underline;}
.item-list ul li a:hover{text-decoration:none;}
#content p{line-height: 15px;
    padding: 10px 10px 10px 5px;margin:0px;}
#sidebar-left .content{background:url(../images/bg-comented.gif) repeat-x 0 100%;
	overflow:hidden;
	padding:0 0 16px;
	margin:0 0 18px;}

body.two-sidebars #main .block{
	overflow:hidden;
	padding:0 0 16px;
	margin:0;}
/*start hover for box*/
.box-line, .box-line:hover .box-line-top, .box-line-hover .box-line-top{
	width:100%;
}
.box-line:hover, .box-line-hover {
	background:url(../images/bg-box-line.gif) repeat-y;
}
.box-line:hover .box-line-top, .box-line-hover .box-line-top {
	background:url(../images/bg-box-line-top.gif) repeat-x;
}
.box-line:hover .box-line-bottom, .box-line-hover .box-line-bottom {
	background:url(../images/bg-box-line-top.gif) repeat-x 0 100%;
}

.box-line-bottom{background:url(../images/bg-line-bottom.gif) repeat-x bottom;padding-bottom:20px;}
/* end hover for box*/

/* right column */
#sidebar-right .heading-outer{	overflow:hidden;
	width:153px;
	background:url(../images/bg-line-h3.gif) repeat-x 0 100%;
	padding:0 0 9px 5px;
}
#sidebar-right .heading-outer h2 {
	margin:0;
	font:164% Georgia, "Times New Roman", Times, serif;
	color:#000;
	float:left;
}
#sidebar-right .block-right{margin-bottom:10px;background:url(../images/bg-story-forum.jpg) repeat-x 0 100%;padding-bottom:10px;}
.poll{padding-top:10px;padding-bottom:10px;}
#sidebar-right p{padding-left:0px;padding-right:0px;}


/* footer */
#footer h2{padding-left:5px;}
#footer .logo{width:142px;height:30px;background: url("../images/adds-lexis-nexis.jpg") no-repeat;text-indent:-9999px;display:block;margin-top:15px;}
#footer .copyright-message{width:350px;text-align:right;margin-top:-34px;float:right;color:#666666;margin-right:15px;}
#footer .menu-block{width:600px;display:block;clear:both;}
/* end footer */


/* poll */
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #BFBFBF !important;
}
.poll .bar .foreground {
  background-color: #D10034 !important;
  height: 1em;
  float: left; /* LTR */
}
/* end poll */

#content img{
    float:right;
}

#sidebar-right .edit {
    display:none;
} 


.no-sidebars .left-col{width:100% !important;}

.sidebar-middle .left-col{width:100% !important;}
.sidebar-middle #main{width:300px !important; float:right}
.sidebar-middle #sidebar-left{width:640px;float:left;}




.sidebar-rightonly #sidebar-left{width:782px!important;}

.more-link {
    position: absolute;
    right: 10px;
    text-align: right;    
	top: 7px;
	top/*\**/: 2px\9;
	*top:-25px;
	
    z-index: 9999;
	
}
.more-link a{color:#BE0043; font-weight:bold; font-size:110%}
.rss{padding-bottom:20px;float:right; }
.rss a{ background:url("../images/link-rss.jpg") no-repeat; width:50px; height:16px;display:block;}
div.view{
position:inherit
}
#page-heading{background: url("../images/bg-for-name.jpg") repeat-y scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    padding: 0 0 0 4px;}
#page-title{background: url("../images/bg-sqeare.jpg") no-repeat scroll 0 50% transparent;
    color: #C00048;
    font: 245% Georgia,"Times New Roman",Times,serif;
    margin: 0;
    padding: 0 0 0 25px;}

	.description {
    font-size: 0.85em;
}

/*.content a{color:#566B87;text-decoration:underline;}
.content a:hover{text-decoration:none;}
.content h1{font-size:2em;margin:5px 0;}
.content h2{font-size:1.7em;margin:5px 0;}
.content h3{font-size:1.4em;margin:5px 0;}*/

 /* #page-title {
        background:url(../images/bg-for-name.jpg) repeat-y;
	border-bottom:1px solid #ccc;
	padding:0 0 0 4px;height:30px;
        font:245% Georgia, "Times New Roman", Times, serif;
	color:#c00048;
	background:url(../images/bg-sqeare.jpg) no-repeat 0 50%;
	padding:0 0 0 25px;display:block;_border-top:solid 1px #fff;}*/
